<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Nicolae Antonescu photography</title>
        
        <meta name="keywords" content="foto, fotografie, sedinte foto Braila, album de promotie, nunti, botezuri, eveniment">
        <meta name="description" content="Fotografii si servicii foto pentru nunti, botezuri, absolvire si evenimente private">

        <%- include("../fragments/head.ejs") %>
    </head>    

<body>
    <%- include("../fragments/header.ejs") %>
    <main>
        <p>
            Nunta reprezinta un moment unic din viata unei familii ce trebuie fotografiat pentru a putea pastra cat mai vie amintirea acelor clipe minunate. Fotografia de nunta 
            este o imbinare intre fotoreportaj si portretul in locatie, totul realizat 
            intr-un ritm frenetic, ceea ce presupune o stapanire cat mai deplina a tehnicii fotografice.
        </p>
        <p>
            Pasiunea mea pentru fotografie, experienta dobandita in peste 20 ani de activitate, posibilitatile tehnice de care dispun, 
            ma ajuta sa surprind momente unice din desfasurarea unui asemenea eveniment, ce vor fi rememorate cu multa placere odata cu trecerea anilor, 
            aparitia copiilor si nepotilor sau de cate ori stergem praful in blibioteca pe raftul careia sa afla un album de nunta, unul de botez sau cel de absolvire.
        </p>

    </main>
    <%- include("../fragments/footer.ejs") %>
</body>
    
</html>