<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Nicolae Antonescu photography</title>
        
        <meta name="keywords" content="foto, fotografie, sedinte foto Braila, album de promotie, nunti, botezuri, eveniment">
        <meta name="description" content="Fotografii si servicii foto pentru nunti, botezuri, absolvire si evenimente private">
        <link rel="stylesheet" href="/resources/css/style.css" type = "text/css"/>

        <%- include("../fragments/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/resources/css/print.css" />
    </head>    

<body>
    <%- include("../fragments/header.ejs") %>
    <main>
        <p id="watermark"></p>
        <p id="absolut"></p>
        <div id="grid-pagina">
            <section id="welcome">
                <p>ip: <%- locals.ip%></p>
            <p class="intro">
                <strong>
                Daca esti in cautarea unui fotograf profesionist pentru evenimentul tau sau pur si simplu vrei o sedinta foto pentru a pastra vie amintirea clipei de atunci, te invit sa studiezi portofoliul meu!
                </strong>
            </p>

            <div id="dv-descriere-1">
                <div id="dv-prezentare">
                    <picture>
                        <img src="./resources/pictures/heart-529607_1920.jpg" style="width:50%" alt="text" class="center2">
                    </picture>
                </div>
            </div>
        
            <p class id="descriere-1">
                <b>Nunta</b> reprezinta un moment unic din viata unei familii ce trebuie fotografiat pentru a putea pastra cat mai vie amintirea acelor clipe minunate. <b>Fotografia</b> de nunta este 
                o imbinare intre fotoreportaj si portretul in locatie, totul realizat intr-un ritm frenetic, ceea ce presupune o stapanire cat mai deplina a tehnicii fotografice.
            </p>
            <p class id="descriere-2">
                Pasiunea mea pentru fotografie, experienta dobandita in peste 15 ani de activitate, posibilitatile tehnice de care dispun, ma ajuta sa surprind momente unice din 
                desfasurarea unui asemenea <b>eveniment</b>, ce vor fi rememorate cu multa placere odata cu trecerea anilor, aparitia copiilor si nepotilor sau de cate ori stergem praful in 
                blibioteca pe raftul careia sa afla un <b>album</b> de nunta, unul de botez sau cel de absolvire.
            </p>

            </section>

        
        
        <section id="tabel">
            <h2>Servicii foto</h2>
            <p>
                Servicii foto ce se muleaza perfect pe preferintele tale. Intra pe fiecare categorie sa aflii mai multe detalii despre sedinta ta foto de vis! 
            </p>
        
                <em>Categoriile sunt:</em>
                <ul>
                    <li>Nunta</li>
                    <li>Botez</li>
                    <li>Absolvire</li>
                    <li>Sedinte foto personalizate</li>
                    <li>Evenimente private</li>
                    <li>Servicii video</li>
                </ul>
            
                
            
        </section>

        <section id="calendar">
            <h2>Calendar</h2>
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel turpis dolor. Pellentesque fringilla ante turpis, vitae condimentum sem aliquet nec. 
            Nulla facilisi. Praesent a fermentum urna, in facilisis mauris. Aenean vitae urna a lacus porta bibendum. Aenean ornare lacus vitae dapibus pharetra. Quisque tristique tempus arcu non porta. 
            Pellentesque a euismod sem, eu posuere augue. Maecenas egestas et est cursus euismod. Fusce sit amet magna maximus, dapibus sapien quis, sodales purus. Morbi pretium risus massa.

           </article>
        </section>

        <section id="anunturi">
            <h2>Anunturi</h2>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel turpis dolor. Pellentesque fringilla ante turpis, vitae condimentum sem aliquet nec. 
                Nulla facilisi. Praesent a fermentum urna, in facilisis mauris. Aenean vitae urna a lacus porta bibendum. Aenean ornare lacus vitae dapibus pharetra. Quisque tristique tempus arcu non porta. 
                Pellentesque a euismod sem, eu posuere augue. Maecenas egestas et est cursus euismod. Fusce sit amet magna maximus, dapibus sapien quis, sodales purus. Morbi pretium risus massa.
    
            </article>
        </section>

        <section id="lista-utilizatori-online">
            <h3>Lista utilizatori online</h3>  
                <article>
                <ol>
                    <li>Suspendisse tempus imperdiet elit in.</li>
                    <li>Quisque feugiat, mi eget condimentum</li>
                    <li>Nunc vitae semper lacus, sed hendrerit purus </li>
                    <li>Aenean imperdiet lorem vitae velit porta</li>
                </ol>
                </article>
        </section>
        
        <section id="statistici">
            <h2>Statistici</h2>
            
            <p>
                 Aici veti gasi toate datele de contact.
                 Momentan site-ul este in lucru, asa ca puteti accesa site-ul vechi pentru mai multe detalii: <a href="http://fotoantonescu.ro/index.html" target="_blank"> site vechi</a>
            </p>
        </section>

        <section id="info-site">
            <h2>Informatii cu privire la site si server</h2>
            <article>
            <ol>
                <li>Suspendisse tempus imperdiet elit in.</li>
                <li>Quisque feugiat, mi eget condimentum</li>
                <li>Nunc vitae semper lacus, sed hendrerit purus </li>
                <li>Aenean imperdiet lorem vitae velit porta</li>
            </ol>
            </article>
        </section>

        <section id="freestyle">
        
                <div id = "table">
                    <div class="scroll">
                        <table>
                            <style>
                                p.inset {border-style: inset;}
                            </style>
                        
                            <thead>
                                <tr class = "r1">
                                    <th>Pachete nunta</th>
                                    <th colspan="2"> Pachetul 1 </th>
                                    <th>Pachetul 2</th>
                                    <th>Pachetul 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class = "r2">
                                    <td>Servicii incluse</td>
                                    <td id="centru_tabel" colspan="2">Album nunta premium + sedinta foto personalizata + fotografii restaurant</td>
                                    <td id="centru_tabel">Album nunta standard + sedinta foto personalizata + fotografii restaurant</td>
                                    <td id="centru_tabel">Album nunta premium + sedinta foto personalizata + fotografii biserica + fotografii restaurant</td>
                                </tr>
                                <tr class = "r3">
                                    <td>Pret</td>
                                    <td>1500 - </td>
                                    <td>2000 lei</td>
                                    <td>1000 lei</td>
                                    <td>2500 lei</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class = "r4">
                                    <td>Costumizabil</td>
                                    <td id="centru_tabel" colspan="2">Da</td>
                                    <td id="centru_tabel">Da</td>
                                    <td id="centru_tabel">Da</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            

            </br>
            </br>

            <div class = "flexbox">

                <div class = "inline">
                    <div class = "rectangle_link">
                        <br/>
                        &nbsp; <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/73VO2tox1mw">Primul video</a>
                    </div>

                    <br/>

                    <div class = "rectangle_link">
                        <br/>
                        &nbsp; <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/OyX19jJsgU8">Al doilea video</a>
                    </div>
                </div>

                <div class = "inline">
                    <iframe name = "myiframe"; style="border:2px solid rgb(45, 156, 168);"></iframe>
                </div>

            </div>
            <div class = "video">
                <video width="500" height="350" controls="controls" poster="/resources/pictures/phoneweding-4587926_1920.jpg" preload="auto" autoplay loop muted>
                    <source src="/resources/videos/dansul_mirilor.mp4" type="video/mp4">
                    <source src="/resources/videos/dansul_mirilor.ogv" type="video/ogv">
                    <track default kind="captions" src="/resources/videos/tracks/ro.vtt" srclang="ro" label="romana" />
                    <track kind="captions" src="/resources/videos/tracks/en.vtt" kind="captions" srclang="en" label="engleza" />

                </video>
            </div>
       
        </section>
        </div>

    </main>
    <footer>
        <div id="banner">
            <p>
                Acesta este un proiect scolar!
            </p>
        </div>
        <%- include("../fragments/footer.ejs") %>
    </footer>
	
    
</body>
    
</html>