<footer>
    <a href="#">
        <div id="link-top" title="Mergi sus!">  
            <div id = "triangle"></div>
        </div>
    </a>
   
    <address>
        <li><a href="tel:012345678"> Telefon: 0123456789</a></li>
        <li><a href="mailto:lalala@yahoo.com"> Mail: fotoantonescu@gmail.com</a></li>
        <li><a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Adresa</a></li> 
        <li><a href="https://wa.me/4012345678" target="_blank">Whatsapp</a></li>
    </address>
    <small>
        &copy;
    </small>
    <time datetime="2022-10-26">Data</time>

</footer>