<header class="c1" id="h1">
    <picture>
        <img src="resources/pictures/logo.png" style="width:35%" alt="logo" title="logo" class="center"/>
    </picture> 


    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resources/pictures/hamburger-menu-icon-transparent-9.jpg.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><a href="/index#">Acasa</a></li>
            <li>
                <div>Servicii foto</div>
                <ul>

                    <li> <a href="/despre#nunta"><i class="fa-solid fa-arrow-right"></i>nunta</a></li>
                    <li> <a href="#botez"><i class="fa-solid fa-arrow-right"></i>botez</a></li>
                    <li> <a href="#pachet-absolvire"><i class="fa-solid fa-arrow-right"></i>pachet absolvire</a></li>
                    <li> <a href="#sedinta-foto"><i class="fa-solid fa-arrow-right"></i>sedinta foto</a></li>
                    <!-- <li> <a href="#fotografii-evenimente">fotografii evenimente</a></li> -->

                </ul>
            </li>
            <li>
                <div>Portofoliu</div>
                <ul>
                    <li> <a href="#fotografii nunta"> <i class="fa-solid fa-arrow-right"></i>Fotografii nunta</a></li>
                    <li> <a href="#fotografii botez"><i class="fa-solid fa-arrow-right"></i>Fotografii botez</a></li>
                    <li> <a href="#fotografii absolvire"><i class="fa-solid fa-arrow-right"></i>Fotografii absolvire</a></li>
                    <li> <a href="#sedinta foto"><i class="fa-solid fa-arrow-right"></i>Sedinta foto</a></li>
                </ul>
            </li>
            <li>
                <div>Albume foto</div>
                <ul>
                    <li> <a href="/nunta#nunta"><i class="fa-solid fa-arrow-right"></i>Nunta</a></li>
                    <li> <a href="#botez"><i class="fa-solid fa-arrow-right"></i>Botez</a></li>
                    <li> <a href="#absolvire"><i class="fa-solid fa-arrow-right"></i>Absolvire</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Termeni&Conditii</a></li>
        
        </ul>
    </nav>
</header>